* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


/*-------------------body-------------------*/

body {
    font-size: 14px;
    text-transform: none;
    display: block;
}

ul {
    list-style: none;
}

a {
    color: #1C1C1C;
    text-decoration: none;
}

/*-------------------other_things-------------------*/
.dang-nhap{
    width: 90vw;
    margin: 20px 5vw;
    display: block;
    position: relative;
}

.title-head {
    font-family: 'SVN-Gotham';
    text-decoration: none;
}

.text-center {
    text-align: center;
}
.btn-blues:hover{
    background-color: var(--orange);
    color: var(--black);
}

/* social logo */

.social_logo {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.social_logo_facebook,.social_logo_google {
    margin: 5px;
}

.input-dangnhap {
    width: 30vw;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.col-md-12 {
    padding-left: 10px;
    padding-right: 10px;
}

.form-group label {
    margin-bottom: 10px;
}

.form-group {
    font-weight: 500;
    margin-bottom: 5px;
    letter-spacing: 1.5px;
    font-size: 15px;
    text-transform: uppercase;
    margin-bottom: 10px;
    align-items: center;
    margin: 0;
    padding: 0 0 8px;
    border: 0;
}

.required {
    font-size: 13px;
    color: red;
}

label {
    display: block;
}

.input-dangnhap input[type="text"],
.input-dangnhap input[type="email"],
.input-dangnhap input[type="number"],
.input-dangnhap input[type="tel"],
.input-dangnhap input[type="password"],
.input-dangnhap select.form-control {
    background: #f7f7f7;
    height: 50px;
    padding: 0 15px;
    border: 1px solid transparent;
    outline: none;
    box-shadow: none;
}

.form-group .form-control {
    display: block;
    width: 100%;
    min-height: 40px;
    padding: 0.375rem 0.75rem;
    font-size: 1em;
    line-height: 1.5;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    margin: 0;
}

element.style {
    margin-top: 15px;
}

.btn-blues {
    min-width: 290px;
    padding-top: 0;
    padding-bottom: 0;
    height: 50px;
    font-weight: 500;
    letter-spacing: 1.2px;
    font-size: 13px;
    color: #f7f7f7;
    background-color: #1C1C1C;
}

.btn-link-style {
    margin-top: 15px;
    color: #916841;
    display: block;
    font-size: 15px;
}

.text-login p {
    margin-top: 15px;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    font-family: "SVN-Gotham Light";
}

a:hover {
    color: #ffc000;
}

.text-login p a {
    color: #916841;
}